py-cord>=2.6.1
yt-dlp>=2024.8.6
python-dotenv~=1.0.1
psutil~=6.0.0
gitpython>=3.1.41
colorlog~=6.8.2
requests~=2.32.3
mutagen~=1.47.0
pillow>10.2.0
yt-dlp-youtube-oauth2 @ https://github.com/coletdjnz/yt-dlp-youtube-oauth2/archive/refs/heads/master.zip
aiohttp>3.8.4
aiofiles~=24.1.0
audioread~=3.0.1
google-api-python-client~=2.147.0
protobuf~=5.28.0