yt-dlp~=2025.10.14
python-dotenv~=1.1.1
psutil~=7.1.0
gitpython>=3.1.41
colorlog~=6.9.0
requests~=2.32.5
mutagen~=1.47.0
pillow>10.2.0
aiohttp>3.10.11
aiofiles~=25.1.0
audioread~=3.0.1
google-api-python-client~=2.184.0
protobuf~=6.32.1
pandas~=2.3.3
opencv-python~=4.12.0.88
magika~=0.6.2
moviepy~=2.2.1